DerivedData/
*.xcworkspace/
*.xccheckout
*.xcscmblueprint
!default.xcworkspace
*.xcuserstate
**/UserInterfaceState.xcuserstate


*.xcodeproj/*.xcuserdatad/
*.xcodeproj/project.xcworkspace/

.swiftpm/
Package.resolved

Carthage/Build/

Pods/
Podfile.lock

*.xcodeproj
project.yml
*.pbxproj

build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

*.DS_Store
*.swp
*.swo
*.swn

*.log
*.crash
*.xcactivitylog
*.idea/

*.keychain
*.p12
*.mobileprovision
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

fastlane/report.xml
fastlane/screenshots/
fastlane/test_output/

timeline.xctimeline
playground.xcworkspace
